* {
  margin: 0;
  padding: 0;
  border: 0;
}

.base-canvas {
  background-color: rgb(245, 242, 238);
}

.canvas-container {
  display: flex;
}

.temp-canvas {
  position: relative;
}

#canvas-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgb(245, 242, 238);
}

#canvas-input:focus {
  outline: none;
}

.tools-bar {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.tool-container {
  display: flex;
}

.undo-redo-container {
  display: flex;
  gap: 6px;
}

.undo-redo-button {
  padding: 2px 6px;
}