* {
  margin: 0;
  padding: 0;
  border: 0;
}

.base-canvas {
  background-color: antiquewhite;
}

.canvas-container {
  display: flex;
}

.temp-canvas {
  position: relative;
}

#canvas-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: antiquewhite;

}

.tools-bar {
  display: flex;
  flex-direction: column;
}

.tool-container {
  display: flex;
}